[pretix]
instance_name=
url=
currency=
datadir=/data

[mail]
from=
host=
user=
password=
port=2525
tls=True

[django]
debug=true

[database]
backend=postgresql_psycopg2
name=pretix
user=pretix
password=
host=database

[redis]
location=redis://redis/0
sessions=true

[celery]
backend=redis://redis/1
broker=redis://redis/2
